torch==2.4.0
numpy==2.1.2
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-cluster==1.6.3
torch-spline-conv==1.2.2
torch-geometric==2.6.1
loguru==0.7.2
autoflake==2.3.0
pytest==8.0.1
meshio==5.3.5
h5py==3.13.0
pyvista==0.44.2
lightning==2.5.0
pytest-benchmark==5.1.0
wandb==0.19.8
absl-py==2.2.0
wandb[media]==0.19.8
panel==1.6.1